@charset "UTF-8";

*{
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: inherit;
  font-size: inherit;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
  color: #666;
}

pre{
  margin-top: 5px;
  font-size: 12px;
}

code.hljs{
  background-color: #F6F8FA;
  border: 1px solid darken(#F6F8FA,15%);
  border-radius: 2px;
}

mark{
  background-color: #F3F4F4;
  border-radius: 2px;
  display: inline-block;
  padding: 2px;
}

p{
  font-size: 14px;
}

table{
  border-collapse: collapse;
  border-spacing: 0;
  overflow: auto;
  width: 100%;
  font-size: 14px;

  tr{
    background-color: #fff;
    border-top: 1px solid #c6cbd1;

    &:nth-child(2n){
      background-color: #f6f8fa;
    }
  }

  th{
    font-weight: 600;
  }

  th,td{
    border: 1px solid #dfe2e5;
    padding: 6px 13px;
  }
}

.wrapper{
  overflow: hidden;
}

.btn{
  background-color: #2CC9B4;
  color: #fff;
  text-align: center;
  line-height: 60px;
  display: inline-block;
  text-decoration: none;
  width: 200px;
  border-radius: 4px;
  border-bottom: 3px solid #269282;
  font-size: 14px;
  letter-spacing: .1em;
}

.Section{
  padding: 100px 20px;

  .Section-inner{
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
}

.Title{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 50px;
  font-size: 35px;

  &:after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 2px;
    width: 50px;
    background-color:#2CC9B4;
    margin: auto;
  }
}

.Title2{
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  border-left: 5px solid #2CC9B4;
  padding-left: .5em;
  margin-bottom: 20px;
}

.Header{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  z-index: 100;
  text-align: center;

  .Header-logo{
    display: inline-block;
    color: #666;
    font-family: 'Montserrat';
    font-size: 26px;
    padding: 10px;
  }

  .Header-nav{
    position: absolute;
    bottom: 10px;
    right: 20px;

    li{
      display: inline-block;
      font-family: 'Montserrat';
      font-weight: bold;
      margin: 0 10px;

      &.active{
        color: #2CC9B4;
      }
    }
  }

  a{
    color: inherit;
    text-decoration: none;
  }
}

.mb1em{
  margin-bottom: 1em;
}

.tac{
  text-align: center;
}

.Mv{
  height: 100vh;
  width: 100vw;
  background: url(kv.jpg) center fixed;
  background-size: cover;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .Mv-title{
    color: #666;
    font-family: 'Montserrat';
    font-size: 60px;
    font-weight: bold;

    span{
      display: inline-block;
    }

    .Mv-author{
      font-size: 15px;
      font-family: sans-serif;
      font-weight: normal;
      display: block;
    }
  }

  .Mv-btns{
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .Mv-copy{
    position: absolute;
    background-color:#242831;
    color: #fff;
    text-align: center;
    font-family: "Montserrat";
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 12px;
    padding: 5px;
  }
}

.About{
  background-color: #FAFBFF;
  text-align: center;

  p{
    font-size: 18px;
    line-height: 2;
  }

  .About-title{
    display: none;
  }
}

.Usage{
  li{
    margin-bottom: 1.5em;
  }
}

.Example{
  background-color: #FAFBFF;

  &:nth-of-type(2){
    background-color: #fff;
  }

  .Example-section + .Example-section{
    margin-top: 80px;
  }

  .Example-images{
    margin-top: 30px;
    text-align: center;
  }

  .Example-animations{
    margin: 1em 0 2em;
    li{
      display: inline;
      font-size: 14px;
    }
    li + li{
      &:before{
        content: ' / ';
        font-size: 120%;
        font-weight: bold;
      }
    }
  }
}

.Options{

  .Section-inner{
    max-width: 700px;
  }
  .Options-example{
    margin-top: 40px;
  }
}

.Methods{
  background-color: #FAFBFF;
}

.border{
  border: 5px solid black;
}

.border-red{
  border: 5px solid red;
}

@media only screen and (max-width: 767px){

  .btn{
    margin-right: auto;
    margin-left: auto;
    display: block;
  }

  .Section.ex{
    padding-top: 300px;
  }

  .Header{
    padding: 8px;

    .Header-logo{
      padding: 0;
      margin-bottom: 5px;
      display: block;
    }
    .Header-nav{
      position: static;
    }

    select,input{
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }

  .Example{

    img{
      width: 100px;
      height: auto;
    }

  }

  .Options{

    .Options-table{
      width: 500px;
    }

    .Options-table-wrap{
      overflow: auto;
      overflow-scrolling: touch;
    }

  }
}